body {
  background-image: url("./images/2.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
}

table {
  width: 80%;
  margin: 60px;
  background: #a89b8d;
}

table.list {
  text-align: center;
  width: 90%;
}

td {
  border: 1px solid #ead2d2;
  text-align: left;
  padding: 8px 15px;
}

tr:nth-child(even),
table.list thead > tr {
  background-color: #ead2d2;
  align-items: center;
}

/* thead {
  text-align: center;
  margin-right: 5px;
} */

input[type="text"],
input[type="number"] {
  width: 91%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ead2d2;
  border-radius: 12px;
}

input[type="submit"],
input[type="reset"] {
  background: #269900;
  padding: 6px 12px;
  margin: 15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 12px;
}

input[type="submit"]:hover {
  background: #66ff33;
}

input[type="reset"]:hover {
  background: #66ff33;
}

button {
  width: 91%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ead2d2;
  border-radius: 12px;
}

button:hover {
  background: #66ff33;
}
